{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container w-100">
  <div class="box box-shadow bg-white rounded mx-auto mt-5" style="width:25rem;">
    <div class="pt-4 px-4 pb-3">
      <h2 class="font-weight-bold">Login to Play Trivia</h2>
    </div>
		<hr class="my-0 py-0">
    <div class="p-4">
      <form action="javascript:submitForm();" id="signupform">
        <div class="form-group">
            <input type="text" id="username" maxlength=15 class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" id="password" minlength=8 class="form-control" name="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
          <input type="submit" id="submit" class="btn btn-lg font-weight-bold text-white" value="Login">
        </div>
        <div class="text-danger small" id="error-text">
        </div>
      </div>
    </div>
  </div>
  <div class="text-center m-auto text-white pt-4 h6">Don't have an account yet? <a href="../register">Sign up here</a></div>
</div>

<script>
  function submitForm() {
    $.post( "../api/login/", { username: $('#username').val(), 
                                password: $('#password').val()})
    .done(function( data ) {
      if(data.result != 'success') {
        $("#username").toggleClass('form-control-error')
        $("#password").toggleClass('form-control-error')
        setTimeout(function(){
          $("#username").toggleClass('form-control-error');
          $("#password").toggleClass('form-control-error');
          $("#error-text").html('Invalid username and/or password')
        },200)
      } else {
        window.location.replace("../");
      }
    });
  }
</script>
{% endblock %}